<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form class="form-inline"  (ngSubmit)="addTask()" #taskForm="ngForm">
                <div class="form-group">
                    <label for="content-field" class="sr-only"></label>
                    <input id="content-field" type="text" class="form-control" [(ngModel)]="currentTask.content" name="content" placeholder="Enter a task..." required />
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="taskForm.form.invalid"><i class="fa fa-plus" aria-hidden="true"></i>Add Task</button>
            </form>
        </div>
    </div>
    <div class="row">
        <app-card *ngFor="let task of tasks" [task]="task"></app-card>
        <h5 *ngIf="tasks.length === 0">
            <p>No tasks found, start creating them already...</p>
            <small>use the little form above.</small>
        </h5>
    </div>
</div>