<div class="col-sm-3" *ngIf="!task.deleted">
    <div class="card" [class.completed]="task.completed">
        <div class="card-block">
            <p>{{ task.content }}</p>{{task.softDelete}}
        </div>
        <div class="card-footer">
            <span [hidden]="task.completed" (click)="statusToggle()"><i class="fa fa-times" aria-hidden="true"></i>Not Complete</span>
            <span [hidden]="!task.completed" (click)="statusToggle()"><i class="fa fa-check" aria-hidden="true"></i>Completed</span><br/>
            <span *ngIf="task.completed" (click)="softDelete()"><i class="fa fa-times" aria-hidden="true"></i>Delete</span><br/>
        </div>
    </div>
</div>