.card {
    border-radius: 0;
}

.card,
.card-footer {
    background-color: #FFFFA5;
    border: none;
}
.card-footer span {
    cursor: pointer;
}
.card-footer span:hover {
    font-weight: bold;
}

.card-footer {
    text-align: right;
}

i {
    color: #CC0000;
    padding-right: .5rem;
}
.fa-check {
    color: #CCCCCC;
}
.card.completed,
.card.completed .card-footer {
    background-color: #EEEEEE;
    color: #CCCCCC;
}